# Actividad 2.1 (Regresión Lineal Simple y Múltiple)
### Ximena Italya Jiménez Huerta | A01277667

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from funpymodeling.exploratory import freq_tbl

In [2]:
#Cargamos el DataFrame que ya tiene los datos limpios del estado, en mi caso es Estocolmo
df = pd.read_excel('Estocolmo_sin_valores_nulos.xlsx')
#Borramos las filas y columnas innecesarias
pd.options.display.max_columns = None
df.head(5)

,Unnamed: 0,last_scraped,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,property_type,room_type,bathrooms_text,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,0,2024-12-30,2011-07-06,within an hour,100%,100%,t,t,t,Private room in rental unit,Private room,1 shared bath,$944.00,t,2024-12-30,2011-07-30,2024-12-09,f,2.0,2.0,59.31389,18.06087,2.0,1.0,1.0,2,2.0,120.0,2.0,2,120,120.0,27,57,87,177,9.3,2.7,0,4.86,4.87,4.79,4.95,4.97,4.84,4.76,2.0,1,0,0
1,1,2024-12-30,2011-02-27,within a day,100%,15%,f,t,t,Private room in rental unit,Private room,1 shared bath,$414.00,t,2024-12-30,2011-09-29,2024-08-30,f,2.0,4.0,59.33351,18.03693,1.0,1.0,1.0,1,2.0,20.0,2.0,2,20,20.0,25,55,85,360,9.3,1.0,0,4.68,4.70,4.63,4.87,4.88,4.81,4.70,2.0,1,0,0
2,2,2024-12-30,2011-10-05,within a few hours,100%,0%,f,t,t,Entire rental unit,Entire home/apt,1 bath,"$1,320.00",t,2024-12-30,2011-11-28,2016-12-13,f,1.0,1.0,59.33872,18.05131,2.0,1.0,1.0,2,1.0,60.0,1.0,1,60,60.0,28,58,88,88,9.3,0.0,0,4.79,4.65,4.71,4.85,4.95,4.85,4.64,1.0,1,0,0
3,3,2024-12-30,2011-07-06,within an hour,100%,100%,t,t,t,Private room in rental unit,Private room,1 shared bath,$814.00,t,2024-12-30,2012-02-13,2024-12-01,f,2.0,2.0,59.31198,18.06076,1.0,1.0,1.0,1,2.0,300.0,2.0,2,300,300.0,30,60,90,180,9.3,2.7,0,4.90,4.88,4.84,4.96,4.98,4.89,4.84,2.0,1,0,0
4,4,2024-12-30,2011-11-22,within a few hours,100%,100%,f,t,t,Entire rental unit,Entire home/apt,2 baths,"$2,750.00",t,2024-12-30,2012-07-19,2017-07-31,f,3.0,3.0,59.30543,18.10771,4.0,2.0,3.0,3,6.0,30.0,6.0,6,30,30.0,2,2,2,9,4.0,0.0,0,5.00,5.00,5.00,5.00,4.75,5.00,5.00,2.0,1,0,0

In [3]:
#Eliminamos las columnas innecesarias, en este caso 'Unnamed' y 'license'
df.drop(columns=["Unnamed: 0", "license"], inplace=True, errors="ignore")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5223 entries, 0 to 5222
Data columns (total 49 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   last_scraped                                  5223 non-null   object
 1   host_since                                    5223 non-null   object
 2   host_response_time                            5223 non-null   object
 3   host_response_rate                            5223 non-null   object
 4   host_acceptance_rate                          5223 non-null   object
 5   host_is_superhost                             5223 non-null   object
 6   host_has_profile_pic                          5223 non-null   object
 7   host_identity_verified                        5223 non-null   object
 8   property_type                                 5223 non-null   object
 9   room_type                                     5223 non-null   object
 10  bathrooms_text                                5214 non-null   object
 11  price                                         5223 non-null   object
 12  has_availability                              5223 non-null   object
 13  calendar_last_scraped                         5223 non-null   object
 14  first_review                                  5223 non-null   object
 15  last_review                                   5223 non-null   object
 16  instant_bookable                              5223 non-null   object
 17  host_listings_count                           5223 non-null   float64
 18  host_total_listings_count                     5223 non-null   float64
 19  latitude                                      5223 non-null   float64
 20  longitude                                     5223 non-null   float64
 21  accommodates                                  5223 non-null   float64
 22  bathrooms                                     5223 non-null   float64
 23  bedrooms                                      5223 non-null   float64
 24  beds                                          5223 non-null   int64
 25  minimum_nights                                5223 non-null   float64
 26  maximum_nights                                5223 non-null   float64
 27  minimum_minimum_nights                        5223 non-null   float64
 28  maximum_minimum_nights                        5223 non-null   int64
 29  minimum_maximum_nights                        5223 non-null   int64
 30  maximum_maximum_nights                        5223 non-null   float64
 31  availability_30                               5223 non-null   int64
 32  availability_60                               5223 non-null   int64
 33  availability_90                               5223 non-null   int64
 34  availability_365                              5223 non-null   int64
 35  number_of_reviews                             5223 non-null   float64
 36  number_of_reviews_ltm                         5223 non-null   float64
 37  number_of_reviews_l30d                        5223 non-null   int64
 38  review_scores_rating                          5223 non-null   float64
 39  review_scores_accuracy                        5223 non-null   float64
 40  review_scores_cleanliness                     5223 non-null   float64
 41  review_scores_checkin                         5223 non-null   float64
 42  review_scores_communication                   5223 non-null   float64
 43  review_scores_location                        5223 non-null   float64
 44  review_scores_value                           5223 non-null   float64
 45  calculated_host_listings_count                5223 non-null   float64
 46  calculated_host_listings_count_entire_homes   5223 non-null   int64
 47  calculated_host_listings_count_private_rooms  5223 non-null   int64
 48  calculated_host_listings_count_shared_rooms   5223 non-null   int64
dtypes: float64(21), int64(11), object(17)
memory usage: 2.0+ MB

In [4]:
#Nos aseguramos que el data no tenga valores nulos
df.isnull().sum()

last_scraped                                    0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_has_profile_pic                            0
host_identity_verified                          0
property_type                                   0
room_type                                       0
bathrooms_text                                  9
price                                           0
has_availability                                0
calendar_last_scraped                           0
first_review                                    0
last_review                                     0
instant_bookable                                0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

#### Convertimos todas las variables categóricas a numéricas

***last_scraped***

In [5]:
#Obtengo un análisis univariado de una variable categórica en específico
tableA = freq_tbl (df['last_scraped'])


#Elimino las columnas percentage y cumulative perc para trabajar con las frecuencias
tableA = tableA.drop(['percentage','cumulative_perc'],axis=1)
tableA

  last_scraped  frequency
0   2024-12-30       5223

In [6]:
# Convertir las fechas a tipo datetime
df['last_scraped'] = pd.to_datetime(df['last_scraped'])

In [7]:
# Reemplazar todos los valores datetime con el número 1
df['last_scraped'] = 1

***host_since***

In [8]:
#Obtengo un análisis univariado de una variable categórica en específico
tableB = freq_tbl (df['host_since'])


#Elimino las columnas percentage y cumulative perc para trabajar con las frecuencias
tableB = tableB.drop(['percentage','cumulative_perc'],axis=1)
tableB

      host_since  frequency
0     2019-06-25         69
1     2017-06-16         44
2     2016-02-25         42
3     2014-10-23         42
4     2023-09-06         40
...          ...        ...
2587  2022-09-04          1
2588  2012-08-20          1
2589  2013-12-15          1
2590  2022-03-10          1
2591  2024-12-28          1

[2592 rows x 2 columns]

In [9]:
# Convertir las fechas a tipo datetime
df['host_since'] = pd.to_datetime(df['host_since'])

In [10]:
# Encontrar la fecha mínima
fecha_minima = df['host_since'].min()
fecha_minima

Timestamp('2008-11-21 00:00:00')

In [11]:
# Calcular los días desde una fecha inicial
fecha_inicial = pd.Timestamp('2008-11-21')
df['host_since'] = (df['host_since'] - fecha_inicial).dt.days.astype(float)

***host_response_time***

In [12]:
#Analizamos que datos tiene la columna
df['host_response_time'].unique()

array(['within an hour', 'within a day', 'within a few hours', 'No info',
       'a few days or more'], dtype=object)

In [13]:
# Crear un diccionario para asignar números a cada valor
mapeo = {
    'within a few hours': 1,
    'within an hour': 2,
    'within a day': 3,
    'No info': 0,
    'a few days or more': 4
}

# Reemplazar los valores de texto por sus correspondientes números
df['host_response_time'] = df['host_response_time'].map(mapeo)

***host_response_rate & host_acceptance_rate***

In [14]:
# Convertir tasas de aceptación y respuesta en valores numéricos
df["host_acceptance_rate"] = df["host_acceptance_rate"].str.rstrip("%").astype(float) / 100
df["host_response_rate"] = df["host_response_rate"].str.rstrip("%").astype(float) / 100

***host_is_superhost | host_has_profile_pic | host_identity_verified***

In [15]:
# Reemplazar los valores 't' y 'f' por 1 y 0 con un if
df['host_is_superhost'] = df['host_is_superhost'].apply(lambda x: 1 if x == 't' else 0)
df['host_has_profile_pic'] = df['host_has_profile_pic'].apply(lambda x: 1 if x == 't' else 0)
df['host_identity_verified'] = df['host_identity_verified'].apply(lambda x: 1 if x == 't' else 0)

***property_type***

In [16]:
#Analizamos que valores hay en la columna
df['property_type'].unique()

array(['Private room in rental unit', 'Entire rental unit',
       'Private room in home', 'Entire loft', 'Entire guesthouse',
       'Entire townhouse', 'Private room in townhouse', 'Entire home',
       'Entire condo', 'Entire villa', 'Private room in condo',
       'Private room in loft', 'Private room in villa',
       'Private room in bed and breakfast', 'Private room in guesthouse',
       'Entire cabin', 'Shared room in rental unit',
       'Entire serviced apartment', 'Shared room in condo',
       'Entire guest suite', 'Private room in guest suite',
       'Room in hotel', 'Private room in casa particular', 'Farm stay',
       'Private room in serviced apartment', 'Room in boutique hotel',
       'Shared room in home', 'Entire cottage', 'Entire in-law',
       'Room in hostel', 'Tiny home', 'Room in aparthotel',
       'Private room in hostel', 'Shared room in bed and breakfast',
       'Entire vacation home', 'Private room in tiny home', 'Boat',
       'Tent', 'Private room in boat', 'Shared room in hostel',
       'Casa particular', 'Barn', 'Camper/RV'], dtype=object)

In [17]:
# Crear un diccionario para mapear cada valor único a un número
property_mapping = {
    'Private room in rental unit': 1,
    'Entire rental unit': 2,
    'Private room in home': 3,
    'Entire loft': 4,
    'Entire guesthouse': 5,
    'Entire townhouse': 6,
    'Private room in townhouse': 7,
    'Entire home': 8,
    'Entire condo': 9,
    'Entire villa': 10,
    'Private room in condo': 11,
    'Private room in loft': 12,
    'Private room in villa': 13,
    'Private room in bed and breakfast': 14,
    'Private room in guesthouse': 15,
    'Entire cabin': 16,
    'Shared room in rental unit': 17,
    'Entire serviced apartment': 18,
    'Shared room in condo': 19,
    'Entire guest suite': 20,
    'Private room in guest suite': 21,
    'Room in hotel': 22,
    'Private room in casa particular': 23,
    'Farm stay': 24,
    'Private room in serviced apartment': 25,
    'Room in boutique hotel': 26,
    'Shared room in home': 27,
    'Entire cottage': 28,
    'Entire in-law': 29,
    'Room in hostel': 30,
    'Tiny home': 31,
    'Room in aparthotel': 32,
    'Private room in hostel': 33,
    'Shared room in bed and breakfast': 34,
    'Entire vacation home': 35,
    'Private room in tiny home': 36,
    'Boat': 37,
    'Tent': 38,
    'Private room in boat': 39,
    'Shared room in hostel': 40,
    'Casa particular': 41,
    'Barn': 42,
    'Camper/RV': 43
}

# Mapear los valores y asignar 0 a los nulos o valores no definidos
df['property_type'] = df['property_type'].map(property_mapping).fillna(0).astype(int)

***room_type***

In [18]:
#Obtengo un análisis univariado de una variable categórica en específico
tableC = freq_tbl (df['room_type'])


#Elimino las columnas percentage y cumulative perc para trabajar con las frecuencias
tableC = tableC.drop(['percentage','cumulative_perc'],axis=1)
tableC

         room_type  frequency
0  Entire home/apt       4316
1     Private room        881
2      Shared room         14
3       Hotel room         12

In [19]:
# Crear un diccionario para mapear los valores
room_mapping = {
    'Entire home/apt': 1,
    'Private room': 2,
    'Shared room': 3,
    'Hotel room': 4
}

In [20]:
# Reemplazar los valores en la columna según el diccionario, usando 0 para los valores no definidos
df['room_type'] = df['room_type'].map(room_mapping).fillna(0).astype(int)

***bathrooms_text***

In [21]:
df['bathrooms_text'].unique()

array(['1 shared bath', '1 bath', '2 baths', '1.5 baths',
       '2 shared baths', 'Shared half-bath', '2.5 baths',
       '1.5 shared baths', nan, '3 baths', '1 private bath', '3.5 baths',
       'Half-bath', '2.5 shared baths', '0 shared baths',
       '3 shared baths', '4 shared baths', '4.5 baths', '0 baths',
       'Private half-bath', '4 baths', '7.5 shared baths',
       '9 shared baths', '12 baths', '6 shared baths', '6 baths',
       '5.5 baths'], dtype=object)

In [22]:
# Función para reemplazar los valores
def convertir_baños(valor):
    if pd.isna(valor):  # Si el valor es NaN
        return 0
    if 'shared' in valor.lower():  # Si incluye "shared"
        # Obtener el número inicial antes de "shared"
        try:
            num = float(valor.split()[0])
        except ValueError:  # Si no hay número explícito
            num = 0  # Ejemplo: 'Shared half-bath' -> 0
        return num + 0.05
    elif 'half-bath' in valor.lower():  # Si incluye "half-bath"
        return 0.5
    else:  # Para otros casos como "1 bath", "3 baths", etc.
        try:
            return float(valor.split()[0])
        except ValueError:  # Manejo de errores en caso de formato inesperado
            return 0

In [23]:
# Aplicar la función a la columna 'bathrooms_text'
df['bathrooms_text'] = df['bathrooms_text'].apply(convertir_baños)

***price***

In [24]:
# Reemplazar 'no info' con '0' en la columna
df['price'] = df['price'].replace('No info', '0')
# Convertir la columna de precios a float eliminando el símbolo '$'
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\italy\AppData\Local\Temp\ipykernel_16376\377115498.py:4: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

***has_availability & instant_bookable***

In [25]:
# Reemplazar los valores 't' y 'f' por 1 y 0 con un if
df['has_availability'] = df['has_availability'].apply(lambda x: 1 if x == 't' else 0)
df['instant_bookable'] = df['instant_bookable'].apply(lambda x: 1 if x == 't' else 0)

***calendar_last_scraped***

In [26]:
# Convertir las fechas a tipo datetime
df['calendar_last_scraped'] = pd.to_datetime(df['calendar_last_scraped'])

In [27]:
# Reemplazar todos los valores datetime con el número 1
df['calendar_last_scraped'] = 1

***first_review***

In [28]:
#Visualizamos los datos en la columna
df['first_review'].unique()

array(['2011-07-30', '2011-09-29', '2011-11-28', ..., '2024-12-20',
       '2024-12-26', '2024-12-29'], dtype=object)

In [29]:
#Obtengo un análisis univariado de una variable categórica en específico
tablefr = freq_tbl (df['first_review'])


#Elimino las columnas percentage y cumulative perc para trabajar con las frecuencias
tablefr = tablefr.drop(['percentage','cumulative_perc'],axis=1)
tablefr

     first_review  frequency
0      0000-00-00       1063
1      2024-05-19         72
2      2024-05-20         60
3      2024-05-18         28
4      2023-07-16         17
...           ...        ...
1844   2018-12-09          1
1845   2019-03-03          1
1846   2018-11-11          1
1847   2018-11-06          1
1848   2024-12-29          1

[1849 rows x 2 columns]

In [30]:
# Ordenar las fechas de menor a mayor
df.sort_values(by='first_review')
df['first_review']

0       2011-07-30
1       2011-09-29
2       2011-11-28
3       2012-02-13
4       2012-07-19
           ...
5218    0000-00-00
5219    0000-00-00
5220    0000-00-00
5221    0000-00-00
5222    0000-00-00
Name: first_review, Length: 5223, dtype: object

In [31]:
#2011-07-30 es la primera fecha que la vamos a tomar como referencia
# Convertir la columna a tipo datetime, manejando valores inválidos
df['first_review'] = pd.to_datetime(df['first_review'], errors='coerce')  # '0000-00-00' será NaT
# Definir la fecha de referencia
fecha_referencia = pd.Timestamp('2011-07-30')

# Calcular días desde la fecha de referencia, reemplazando NaT por 0
df['first_review'] = df['first_review'].apply(lambda x: 0 if pd.isnull(x) else (x - fecha_referencia).days)

***last_review***

In [32]:
#Visualizamos los datos en la columna
df['last_review'].unique()

array(['2024-12-09', '2024-08-30', '2016-12-13', '2024-12-01',
       '2017-07-31', '2024-10-03', '2024-09-21', '2024-11-06',
       '2024-09-03', '2019-09-26', '2024-09-29', '2024-12-03',
       '2024-07-31', '2024-11-25', '2023-11-18', '2022-07-24',
       '2017-06-29', '2024-08-25', '2018-08-08', '2024-08-14',
       '2024-01-15', '2023-11-30', '2024-07-21', '2024-12-24',
       '2024-08-12', '2024-06-30', '2021-06-04', '2024-12-15',
       '2024-08-05', '2024-09-01', '2018-10-09', '2024-08-08',
       '2024-09-15', '2024-11-02', '2024-10-31', '2024-11-10',
       '2024-11-05', '2024-10-01', '2014-06-20', '2024-12-14',
       '2024-09-09', '2023-12-21', '2024-05-31', '2024-11-15',
       '2013-11-09', '2024-08-26', '2024-08-21', '2024-08-02',
       '2024-05-19', '2024-08-31', '2024-04-17', '2022-10-03',
       '2024-07-28', '2024-12-26', '2022-09-17', '2015-08-10',
       '2022-08-18', '2024-12-10', '2019-04-05', '2024-08-17',
       '2024-08-10', '0000-00-00', '2023-08-13', '2024-08-03',
       '2023-12-28', '2016-09-03', '2019-12-28', '2014-11-15',
       '2023-09-18', '2024-10-10', '2024-07-07', '2024-10-23',
       '2022-05-27', '2019-07-23', '2024-11-29', '2024-07-24',
       '2024-12-13', '2016-06-06', '2023-07-22', '2024-12-23',
       '2024-12-28', '2019-06-04', '2024-06-03', '2024-12-17',
       '2019-10-20', '2022-08-20', '2015-08-15', '2024-09-10',
       '2024-09-12', '2022-08-05', '2023-07-24', '2024-08-13',
       '2020-09-17', '2014-08-15', '2018-09-16', '2024-08-04',
       '2015-09-02', '2021-10-31', '2024-12-27', '2015-07-05',
       '2024-08-11', '2024-08-24', '2024-10-19', '2023-11-19',
       '2024-12-08', '2024-12-29', '2024-05-20', '2015-08-08',
       '2024-07-14', '2024-08-16', '2023-07-13', '2023-08-05',
       '2024-12-19', '2024-07-23', '2024-06-29', '2024-06-28',
       '2022-06-05', '2017-11-04', '2023-08-06', '2024-08-09',
       '2024-07-29', '2017-01-04', '2018-08-15', '2024-02-18',
       '2024-11-03', '2024-08-01', '2024-12-11', '2024-07-20',
       '2024-09-11', '2022-08-31', '2019-08-06', '2023-09-15',
       '2018-08-31', '2019-08-02', '2015-08-12', '2024-08-18',
       '2024-07-19', '2024-10-21', '2024-06-02', '2024-08-06',
       '2017-01-11', '2019-09-29', '2015-09-12', '2020-02-10',
       '2023-07-30', '2024-08-15', '2023-11-17', '2022-09-26',
       '2020-11-23', '2022-04-08', '2024-12-05', '2016-07-30',
       '2024-11-24', '2020-11-01', '2015-08-28', '2024-07-22',
       '2016-11-07', '2024-12-22', '2016-07-28', '2024-12-07',
       '2024-10-27', '2023-08-21', '2018-11-03', '2023-01-06',
       '2019-07-21', '2023-07-09', '2016-11-09', '2024-08-19',
       '2022-01-02', '2024-09-08', '2019-08-19', '2024-08-20',
       '2022-04-07', '2018-04-16', '2024-08-07', '2022-04-18',
       '2024-11-17', '2023-05-31', '2018-07-09', '2024-09-07',
       '2023-08-11', '2024-11-30', '2024-09-04', '2024-11-27',
       '2024-12-16', '2017-07-23', '2024-07-18', '2015-05-12',
       '2024-12-20', '2015-07-29', '2023-08-22', '2023-07-02',
       '2017-10-20', '2020-01-06', '2023-07-31', '2023-09-14',
       '2018-07-27', '2017-02-26', '2024-08-22', '2019-03-07',
       '2023-04-19', '2019-01-31', '2018-03-19', '2019-08-11',
       '2022-07-27', '2020-02-29', '2020-02-27', '2020-10-26',
       '2024-10-17', '2016-06-19', '2024-09-28', '2020-12-01',
       '2019-07-20', '2022-06-30', '2024-10-06', '2024-09-30',
       '2018-09-02', '2019-09-02', '2019-08-04', '2021-08-15',
       '2015-09-15', '2024-12-21', '2016-10-21', '2019-08-18',
       '2022-07-11', '2020-12-27', '2017-08-04', '2021-08-09',
       '2023-07-19', '2022-07-29', '2024-07-01', '2024-10-28',
       '2021-02-15', '2020-12-02', '2024-12-02', '2022-07-13',
       '2019-11-11', '2019-08-05', '2023-06-28', '2024-11-21',
       '2023-11-05', '2024-04-15', '2024-05-12', '2020-12-03',
       '2022-01-16', '2017-07-03', '2024-08-28', '2019-12-29',
       '2023-08-02', '2024-02-19', '2018-04-27', '2019-08-28',
       '2024-12-12', '2024-11-04', '2015-11-08', '2024-01-03',
       '2024-09-18', '2023-08-04', '2024-07-11', '2016-06-15',
       '2016-05-30', '2017-10-15', '2022-08-13', '2020-07-18',
       '2023-10-31', '2024-01-02', '2024-10-13', '2020-07-26',
       '2023-07-20', '2024-04-03', '2022-01-03', '2022-07-25',
       '2024-11-14', '2018-06-22', '2019-09-17', '2024-07-17',
       '2024-12-25', '2024-07-30', '2023-12-01', '2024-09-22',
       '2021-07-18', '2024-01-31', '2023-08-19', '2018-07-24',
       '2016-03-30', '2019-07-29', '2023-08-15', '2018-04-03',
       '2024-04-28', '2020-07-14', '2019-07-19', '2024-11-28',
       '2022-08-10', '2019-08-12', '2023-04-10', '2024-10-18',
       '2021-01-15', '2018-03-26', '2024-04-30', '2024-09-24',
       '2017-01-02', '2017-09-05', '2017-07-21', '2017-06-10',
       '2024-07-25', '2024-11-20', '2022-11-26', '2023-04-24',
       '2019-09-21', '2022-08-06', '2021-11-07', '2022-06-29',
       '2021-03-31', '2023-08-12', '2023-02-19', '2022-06-22',
       '2021-07-31', '2022-01-06', '2018-09-01', '2023-06-18',
       '2016-06-20', '2023-08-20', '2021-07-20', '2016-08-05',
       '2024-06-26', '2023-07-27', '2019-08-30', '2023-04-07',
       '2021-08-26', '2024-02-25', '2024-08-23', '2024-09-20',
       '2024-09-14', '2019-08-25', '2023-08-09', '2022-10-05',
       '2016-10-02', '2023-10-01', '2021-10-10', '2023-10-06',
       '2023-05-27', '2019-05-29', '2024-09-19', '2019-09-28',
       '2024-05-27', '2022-11-27', '2017-08-13', '2024-10-14',
       '2019-11-03', '2024-01-05', '2019-08-10', '2023-07-17',
       '2017-04-18', '2024-06-20', '2021-12-31', '2024-06-10',
       '2023-08-14', '2018-10-26', '2018-06-12', '2022-12-18',
       '2019-11-14', '2022-07-28', '2018-04-21', '2024-07-26',
       '2018-08-19', '2019-08-27', '2023-09-12', '2023-06-12',
       '2017-08-07', '2024-05-24', '2020-08-08', '2024-11-26',
       '2024-07-16', '2019-10-12', '2018-07-28', '2024-01-01',
       '2024-06-16', '2019-08-14', '2023-07-26', '2024-05-26',
       '2021-10-01', '2024-11-11', '2022-08-07', '2019-08-09',
       '2024-09-02', '2023-05-20', '2020-03-15', '2017-06-16',
       '2024-07-04', '2023-01-07', '2024-07-27', '2024-07-15',
       '2020-12-14', '2018-08-30', '2024-09-26', '2024-10-20',
       '2019-07-28', '2022-08-01', '2024-10-26', '2017-08-19',
       '2019-08-03', '2024-05-25', '2022-04-25', '2023-07-08',
       '2024-06-27', '2024-12-06', '2022-06-19', '2024-10-05',
       '2023-12-30', '2024-10-24', '2017-11-19', '2023-10-23',
       '2023-08-29', '2024-09-27', '2018-08-17', '2024-10-07',
       '2023-09-17', '2019-11-22', '2018-10-07', '2022-07-31',
       '2024-08-29', '2017-09-14', '2024-05-21', '2021-11-21',
       '2023-01-27', '2019-05-04', '2020-03-21', '2024-02-24',
       '2019-07-17', '2024-09-13', '2019-05-16', '2021-12-19',
       '2017-10-17', '2020-09-06', '2023-10-19', '2020-10-29',
       '2024-11-09', '2022-08-19', '2024-05-02', '2023-09-30',
       '2023-08-26', '2024-12-18', '2018-08-11', '2022-05-08',
       '2023-09-06', '2024-09-23', '2018-07-15', '2018-11-05',
       '2024-03-24', '2024-11-01', '2019-11-29', '2019-11-04',
       '2021-09-23', '2022-12-21', '2019-03-03', '2024-11-22',
       '2021-09-07', '2022-05-29', '2019-11-08', '2020-11-15',
       '2024-03-30', '2020-08-16', '2021-12-06', '2023-08-08',
       '2023-07-23', '2019-11-10', '2021-08-31', '2023-08-27',
       '2023-08-23', '2021-06-10', '2023-11-03', '2022-09-24',
       '2024-07-12', '2022-09-03', '2024-06-01', '2023-01-04',
       '2019-02-01', '2024-06-25', '2020-11-08', '2021-08-25',
       '2020-10-23', '2020-10-18', '2023-12-03', '2020-04-01',
       '2022-09-04', '2022-08-21', '2019-06-19', '2022-08-14',
       '2023-04-26', '2019-01-11', '2019-06-14', '2022-08-27',
       '2022-07-21', '2018-11-26', '2024-09-06', '2019-05-08',
       '2019-03-18', '2022-08-12', '2019-06-26', '2024-05-13',
       '2023-07-11', '2022-08-04', '2021-12-29', '2020-03-09',
       '2023-11-26', '2022-08-28', '2023-10-04', '2018-08-14',
       '2024-01-07', '2020-01-03', '2018-08-28', '2020-02-17',
       '2018-07-17', '2019-11-24', '2023-09-03', '2018-08-23',
       '2023-11-10', '2022-12-23', '2024-10-15', '2019-12-26',
       '2019-06-06', '2020-10-08', '2022-09-08', '2023-08-03',
       '2022-09-18', '2019-10-13', '2021-08-29', '2022-07-30',
       '2020-01-19', '2018-10-21', '2019-10-22', '2023-02-20',
       '2021-08-21', '2024-04-12', '2022-11-12', '2024-06-17',
       '2022-08-08', '2020-01-24', '2023-10-21', '2020-02-23',
       '2019-01-04', '2019-10-19', '2023-08-31', '2022-06-02',
       '2021-07-01', '2022-10-21', '2022-07-06', '2022-09-25',
       '2019-10-17', '2023-09-28', '2024-10-29', '2019-09-04',
       '2021-04-05', '2019-09-15', '2024-11-18', '2019-07-22',
       '2023-12-15', '2023-03-25', '2022-07-20', '2023-05-10',
       '2019-03-17', '2019-08-22', '2021-07-24', '2019-06-23',
       '2023-09-01', '2021-08-01', '2024-07-03', '2019-06-12',
       '2020-09-28', '2021-02-28', '2022-08-17', '2023-10-29',
       '2024-05-29', '2021-06-14', '2023-11-02', '2024-07-13',
       '2022-07-10', '2021-06-01', '2024-10-09', '2019-11-01',
       '2021-08-28', '2023-09-25', '2024-09-16', '2021-07-02',
       '2024-02-26', '2022-09-10', '2021-03-05', '2023-09-09',
       '2021-01-03', '2020-10-11', '2022-05-14', '2022-11-22',
       '2019-09-22', '2019-08-29', '2020-01-01', '2020-04-30',
       '2021-09-05', '2022-07-17', '2021-06-27', '2019-08-13',
       '2023-05-14', '2022-01-07', '2019-10-30', '2024-12-04',
       '2021-01-02', '2019-10-28', '2022-10-01', '2019-10-06',
       '2019-08-16', '2024-10-22', '2021-02-16', '2021-03-29',
       '2022-09-28', '2019-09-12', '2019-09-16', '2024-11-08',
       '2020-09-30', '2020-03-01', '2022-08-25', '2019-10-21',
       '2020-05-12', '2023-07-07', '2021-02-05', '2024-09-05',
       '2020-11-19', '2019-12-01', '2020-12-06', '2021-10-30',
       '2019-10-11', '2024-01-16', '2021-08-30', '2021-01-17',
       '2019-11-12', '2022-05-28', '2020-10-01', '2020-02-07',
       '2022-04-04', '2020-11-24', '2020-03-12', '2022-12-29',
       '2024-03-12', '2023-12-25', '2021-06-17', '2024-10-11',
       '2024-04-06', '2020-10-27', '2023-05-29', '2023-06-11',
       '2024-03-20', '2021-03-09', '2020-02-24', '2020-08-10',
       '2024-08-27', '2020-06-07', '2022-12-30', '2022-03-20',
       '2021-02-08', '2021-06-30', '2024-01-04', '2024-05-30',
       '2023-01-20', '2020-07-27', '2022-12-28', '2024-11-13',
       '2024-06-08', '2024-05-18', '2024-05-22', '2023-09-29',
       '2021-08-02', '2024-04-02', '2021-01-01', '2021-04-04',
       '2023-01-01', '2021-08-19', '2023-07-18', '2024-06-21',
       '2022-01-28', '2024-06-06', '2024-03-13', '2022-04-01',
       '2021-07-04', '2022-09-30', '2021-07-14', '2023-10-14',
       '2021-08-14', '2023-12-09', '2020-11-06', '2020-12-07',
       '2021-10-24', '2023-04-01', '2022-01-08', '2024-03-31',
       '2020-12-28', '2021-07-29', '2021-01-08', '2024-04-20',
       '2023-08-18', '2021-08-17', '2021-01-31', '2021-04-25',
       '2023-08-07', '2024-11-19', '2022-03-11', '2023-06-02',
       '2021-05-31', '2021-05-08', '2024-03-29', '2023-08-25',
       '2023-05-01', '2023-09-08', '2024-09-17', '2023-12-11',
       '2022-10-02', '2023-12-27', '2023-08-30', '2022-05-17',
       '2021-07-03', '2021-07-28', '2021-07-25', '2021-07-13',
       '2024-10-08', '2021-07-11', '2021-08-16', '2022-11-04',
       '2024-07-02', '2021-11-15', '2021-08-11', '2022-10-29',
       '2021-09-02', '2021-10-13', '2024-04-01', '2021-09-28',
       '2022-08-24', '2022-05-07', '2021-10-16', '2021-11-26',
       '2024-03-16', '2023-08-24', '2021-12-26', '2024-11-07',
       '2023-01-02', '2023-04-21', '2024-11-23', '2024-06-14',
       '2022-01-30', '2023-10-17', '2022-08-11', '2022-07-18',
       '2023-12-31', '2022-12-22', '2022-10-16', '2023-03-31',
       '2022-04-24', '2024-06-11', '2023-02-06', '2024-06-12',
       '2024-07-10', '2023-12-20', '2022-06-12', '2022-06-15',
       '2024-05-04', '2022-12-04', '2022-08-09', '2022-04-02',
       '2024-10-30', '2023-07-28', '2023-06-30', '2023-02-25',
       '2024-07-08', '2022-10-30', '2023-08-01', '2023-05-30',
       '2023-07-14', '2023-07-03', '2022-07-05', '2024-07-09',
       '2024-09-25', '2023-07-29', '2022-08-03', '2022-08-22',
       '2022-12-25', '2023-07-12', '2023-11-20', '2024-10-04',
       '2023-01-05', '2023-11-27', '2022-07-04', '2024-05-17',
       '2023-09-04', '2022-07-03', '2022-07-16', '2024-03-10',
       '2023-10-02', '2024-06-13', '2024-07-06', '2022-11-01',
       '2023-09-24', '2023-04-02', '2022-12-31', '2022-08-30',
       '2023-10-24', '2022-09-27', '2022-09-05', '2022-10-04',
       '2022-11-09', '2022-11-06', '2022-10-12', '2023-01-22',
       '2023-04-09', '2023-07-15', '2023-03-05', '2023-06-09',
       '2024-04-22', '2024-06-07', '2024-06-04', '2022-12-14',
       '2023-10-22', '2023-09-16', '2023-03-12', '2023-01-26',
       '2023-01-18', '2023-11-12', '2024-06-09', '2023-06-25',
       '2023-06-01', '2023-03-28', '2024-05-03', '2023-07-05',
       '2023-04-16', '2023-06-21', '2023-05-04', '2023-08-10',
       '2023-09-22', '2023-05-18', '2023-06-24', '2023-07-16',
       '2023-12-26', '2023-06-03', '2023-05-11', '2023-07-06',
       '2024-10-16', '2023-05-13', '2023-08-17', '2023-09-27',
       '2024-10-12', '2023-12-10', '2024-10-25', '2023-06-13',
       '2024-10-02', '2023-10-08', '2023-09-02', '2023-10-20',
       '2024-06-23', '2024-02-05', '2023-10-30', '2024-06-22',
       '2023-10-07', '2024-06-15', '2023-09-20', '2024-02-12',
       '2023-12-12', '2024-01-18', '2023-12-17', '2024-03-04',
       '2024-07-05', '2024-05-28', '2024-03-27', '2024-11-16',
       '2024-11-12', '2023-11-09', '2024-01-21', '2024-04-18',
       '2024-02-11', '2024-02-29', '2024-02-03', '2024-01-28',
       '2024-01-06', '2024-03-21', '2024-06-18', '2024-05-05',
       '2024-03-17', '2024-04-29', '2024-05-15', '2024-05-23'],
      dtype=object)

In [33]:
#Obtengo un análisis univariado de una variable categórica en específico
tablelr = freq_tbl (df['last_review'])


#Elimino las columnas percentage y cumulative perc para trabajar con las frecuencias
tablelr = tablelr.drop(['percentage','cumulative_perc'],axis=1)
tablelr

    last_review  frequency
0    0000-00-00       1063
1    2024-12-15        114
2    2024-12-08         66
3    2024-05-19         64
4    2024-05-20         63
..          ...        ...
879  2018-07-15          1
880  2023-09-06          1
881  2022-05-08          1
882  2023-09-30          1
883  2024-05-23          1

[884 rows x 2 columns]

In [34]:
# Ordenar las fechas de menor a mayor
df.sort_values(by='last_review')
df['last_review']

0       2024-12-09
1       2024-08-30
2       2016-12-13
3       2024-12-01
4       2017-07-31
           ...
5218    0000-00-00
5219    0000-00-00
5220    0000-00-00
5221    0000-00-00
5222    0000-00-00
Name: last_review, Length: 5223, dtype: object

In [35]:
#2011-07-30 es la primera fecha que la vamos a tomar como referencia
# Convertir la columna a tipo datetime, manejando valores inválidos
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')  # '0000-00-00' será NaT
# Definir la fecha de referencia
fecha_referencia = pd.Timestamp('1970-01-01')

# Calcular días desde la fecha de referencia, reemplazando NaT por 0
df['last_review'] = df['last_review'].apply(lambda x: 0 if pd.isnull(x) else (x - fecha_referencia).days)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5223 entries, 0 to 5222
Data columns (total 49 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   last_scraped                                  5223 non-null   int64
 1   host_since                                    5223 non-null   float64
 2   host_response_time                            5223 non-null   int64
 3   host_response_rate                            5223 non-null   float64
 4   host_acceptance_rate                          5223 non-null   float64
 5   host_is_superhost                             5223 non-null   int64
 6   host_has_profile_pic                          5223 non-null   int64
 7   host_identity_verified                        5223 non-null   int64
 8   property_type                                 5223 non-null   int32
 9   room_type                                     5223 non-null   int32
 10  bathrooms_text                                5223 non-null   float64
 11  price                                         5223 non-null   float64
 12  has_availability                              5223 non-null   int64
 13  calendar_last_scraped                         5223 non-null   int64
 14  first_review                                  5223 non-null   int64
 15  last_review                                   5223 non-null   int64
 16  instant_bookable                              5223 non-null   int64
 17  host_listings_count                           5223 non-null   float64
 18  host_total_listings_count                     5223 non-null   float64
 19  latitude                                      5223 non-null   float64
 20  longitude                                     5223 non-null   float64
 21  accommodates                                  5223 non-null   float64
 22  bathrooms                                     5223 non-null   float64
 23  bedrooms                                      5223 non-null   float64
 24  beds                                          5223 non-null   int64
 25  minimum_nights                                5223 non-null   float64
 26  maximum_nights                                5223 non-null   float64
 27  minimum_minimum_nights                        5223 non-null   float64
 28  maximum_minimum_nights                        5223 non-null   int64
 29  minimum_maximum_nights                        5223 non-null   int64
 30  maximum_maximum_nights                        5223 non-null   float64
 31  availability_30                               5223 non-null   int64
 32  availability_60                               5223 non-null   int64
 33  availability_90                               5223 non-null   int64
 34  availability_365                              5223 non-null   int64
 35  number_of_reviews                             5223 non-null   float64
 36  number_of_reviews_ltm                         5223 non-null   float64
 37  number_of_reviews_l30d                        5223 non-null   int64
 38  review_scores_rating                          5223 non-null   float64
 39  review_scores_accuracy                        5223 non-null   float64
 40  review_scores_cleanliness                     5223 non-null   float64
 41  review_scores_checkin                         5223 non-null   float64
 42  review_scores_communication                   5223 non-null   float64
 43  review_scores_location                        5223 non-null   float64
 44  review_scores_value                           5223 non-null   float64
 45  calculated_host_listings_count                5223 non-null   float64
 46  calculated_host_listings_count_entire_homes   5223 non-null   int64
 47  calculated_host_listings_count_private_rooms  5223 non-null   int64
 48  calculated_host_listings_count_shared_rooms   5223 non-null   int64
dtypes: float64(26), int32(2), int64(21)
memory usage: 1.9 MB

In [46]:
#Nos aseguramos que el dataframe no tenga nulos
df.isnull().sum()

last_scraped                                    0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_has_profile_pic                            0
host_identity_verified                          0
property_type                                   0
room_type                                       0
bathrooms_text                                  0
price                                           0
has_availability                                0
calendar_last_scraped                           0
first_review                                    0
last_review                                     0
instant_bookable                                0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

### Filtro por room_type


    'Entire home/apt': 1,
    'Private room': 2,
    'Shared room': 3,
    'Hotel room': 4

In [37]:
#Analizamos los datos que estan en 'room_type'
df['room_type'].unique()

array([2, 1, 3, 4])

In [47]:
#Filtramos 'room_type' primero por 'Private room'
Pr = df[(df["room_type" ] == 2)]
pd.options.display.max_columns = None
Pr.head(5)

,last_scraped,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,property_type,room_type,bathrooms_text,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,1,957.0,2,1.00,1.00,1,1,1,1,2,1.05,944.0,1,1,0,20066,0,2.0,2.0,59.31389,18.06087,2.0,1.0,1.0,2,2.0,120.0,2.0,2,120,120.0,27,57,87,177,9.3,2.7,0,4.86,4.87,4.79,4.95,4.97,4.84,4.76,2.0,1,0,0
1,1,828.0,3,1.00,0.15,0,1,1,1,2,1.05,414.0,1,1,61,19965,0,2.0,4.0,59.33351,18.03693,1.0,1.0,1.0,1,2.0,20.0,2.0,2,20,20.0,25,55,85,360,9.3,1.0,0,4.68,4.70,4.63,4.87,4.88,4.81,4.70,2.0,1,0,0
3,1,957.0,2,1.00,1.00,1,1,1,1,2,1.05,814.0,1,1,198,20058,0,2.0,2.0,59.31198,18.06076,1.0,1.0,1.0,1,2.0,300.0,2.0,2,300,300.0,30,60,90,180,9.3,2.7,0,4.90,4.88,4.84,4.96,4.98,4.89,4.84,2.0,1,0,0
7,1,1136.0,1,0.67,0.56,0,1,1,3,2,1.05,750.0,1,1,345,20033,0,2.0,2.0,59.27635,17.99165,2.0,1.0,1.0,1,1.0,184.9,1.0,1,1125,1125.0,30,60,90,365,38.0,5.0,0,4.63,4.49,4.70,4.70,4.90,4.46,4.59,2.0,1,0,0
13,1,985.0,2,1.00,0.89,1,1,1,7,2,2.05,350.0,1,1,307,20052,0,3.0,1.8,59.26424,18.02277,1.0,2.0,1.0,1,1.0,150.0,1.0,1,150,150.0,30,60,90,365,44.0,11.0,0,4.75,4.73,4.86,4.93,4.95,4.61,4.66,3.0,1,0,0

In [48]:
#Filtramos 'room_type' por 'Entire home/apt'
Eha = df[(df["room_type" ] == 1)]
pd.options.display.max_columns = None
Eha.head(5)

,last_scraped,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,property_type,room_type,bathrooms_text,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
2,1,1048.0,1,1.0,0.00,0,1,1,2,1,1.0,1320.0,1,1,121,17148,0,1.0,1.0,59.33872,18.05131,2.0,1.0,1.0,2,1.0,60.0,1.0,1,60,60.0,28,58,88,88,9.3,0.0,0,4.79,4.65,4.71,4.85,4.95,4.85,4.64,1.0,1,0,0
4,1,1096.0,1,1.0,1.00,0,1,1,2,1,2.0,2750.0,1,1,355,17378,0,3.0,3.0,59.30543,18.10771,4.0,2.0,3.0,3,6.0,30.0,6.0,6,30,30.0,2,2,2,9,4.0,0.0,0,5.00,5.00,5.00,5.00,4.75,5.00,5.00,2.0,1,0,0
5,1,1132.0,1,1.0,0.98,1,1,1,2,1,1.0,1190.0,1,1,687,19999,0,1.0,1.0,59.31846,18.07042,4.0,1.0,0.0,2,2.0,30.0,2.0,2,1125,1125.0,0,0,0,165,9.3,2.7,0,4.66,4.76,4.38,4.92,4.95,4.96,4.58,1.0,1,0,0
6,1,1065.0,2,1.0,1.00,0,1,1,2,1,1.5,0.0,1,1,206,19987,1,1.0,1.8,59.30318,17.99521,4.0,1.2,1.0,2,3.0,184.9,3.0,3,1125,1125.0,17,35,35,236,9.3,10.0,0,4.47,4.90,4.40,4.67,4.71,4.38,4.42,1.0,1,0,0
8,1,1137.0,3,1.0,0.41,0,1,1,2,1,1.5,4300.0,1,1,324,19969,0,2.0,3.0,59.34685,18.06056,4.0,1.5,3.0,4,5.0,60.0,5.0,5,60,60.0,27,56,82,325,9.3,5.0,0,4.97,4.92,4.80,4.97,4.98,4.98,4.87,1.0,1,0,0

In [49]:
#Filtramos 'room_type' por 'Shared room'
Shr = df[(df["room_type" ] == 3)]
pd.options.display.max_columns = None
Shr.head(5)

,last_scraped,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,property_type,room_type,bathrooms_text,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
258,1,2340.0,0,0.0,0.00,0,1,0,17,3,1.05,0.0,0,1,1374,16567,0,1.0,1.0,59.35121,18.06422,1.0,1.2,1.4,2,1.0,184.9,1.0,1,1125,1125.0,0,0,0,0,2.0,0.0,0,4.50,4.50,4.50,5.00,5.00,4.50,5.00,1.0,1,0,0
380,1,2068.0,2,1.0,0.87,1,1,1,19,3,1.05,848.0,1,1,1522,20031,0,1.0,1.0,59.32482,18.06783,3.0,1.0,1.0,2,3.0,7.0,3.0,3,7,7.0,22,52,82,82,9.3,2.7,0,4.93,4.88,4.96,4.99,4.96,4.99,4.89,1.0,1,0,0
398,1,2076.0,0,0.0,0.00,0,1,1,17,3,1.05,0.0,0,1,1560,16951,0,1.0,1.0,59.34957,18.09420,1.0,1.2,1.4,2,1.0,7.0,1.0,1,7,7.0,0,0,0,0,9.0,0.0,0,5.00,4.89,5.00,4.89,5.00,4.78,4.89,1.0,1,0,0
528,1,2759.0,0,0.0,0.00,0,1,0,17,3,1.05,0.0,0,1,1787,16972,0,1.0,1.0,59.31637,18.05269,2.0,1.2,1.4,2,1.0,184.9,1.0,1,1125,1125.0,0,0,0,0,1.0,0.0,0,5.00,5.00,4.80,5.00,5.00,4.90,5.00,1.0,1,0,0
583,1,2862.0,0,0.0,0.00,0,1,0,17,3,1.05,0.0,0,1,0,0,0,1.0,1.0,59.30154,18.01102,1.0,1.2,1.4,2,2.9,14.0,2.7,3,14,14.0,0,0,0,0,0.0,0.0,0,4.90,4.90,4.80,4.90,4.90,4.90,4.80,1.0,1,0,0

In [50]:
#Filtramos 'room_type' por 'Hotel room'
Hr = df[(df["room_type" ] == 4)]
pd.options.display.max_columns = None
Hr.head(5)

,last_scraped,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,property_type,room_type,bathrooms_text,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
816,1,3005.0,2,1.00,1.0,1,1,1,22,4,0.0,0.0,1,1,2287,19845,0,1.3,1.8,59.33718,18.05236,1.0,1.2,1.0,2,1.0,30.0,1.0,1,1125,1125.0,0,0,0,0,9.3,6.0,0,4.67,4.85,4.78,4.96,4.96,4.94,4.80,1.2,1,0,0
852,1,3005.0,2,1.00,1.0,1,1,1,22,4,0.0,0.0,1,1,2375,20028,1,1.3,1.8,59.33722,18.05250,2.0,1.2,1.0,2,1.0,30.0,1.0,1,1125,1125.0,0,0,0,0,9.3,7.0,0,4.69,4.76,4.85,4.85,4.82,4.91,4.66,1.2,1,0,0
1063,1,3005.0,2,1.00,1.0,1,1,1,26,4,0.0,0.0,1,1,2949,20080,0,1.3,1.8,59.34182,18.04786,1.0,1.2,1.0,2,1.0,30.0,1.0,1,1125,1125.0,0,0,0,0,42.0,6.0,0,4.74,4.69,4.69,4.86,4.86,4.93,4.74,1.2,1,0,0
1351,1,3867.0,2,0.98,1.0,0,1,1,30,4,1.0,2076.0,1,1,2920,20066,1,1.3,1.8,59.33699,18.05107,6.0,1.0,1.0,3,1.0,14.0,1.0,1,5,5.0,30,60,90,272,9.3,17.0,0,4.62,4.68,4.42,4.73,4.73,4.84,4.63,1.2,1,0,0
1352,1,3867.0,2,0.98,1.0,0,1,1,30,4,1.0,1350.0,1,1,2914,20064,1,1.3,1.8,59.33500,18.05092,2.0,1.0,1.0,1,1.0,14.0,1.0,1,5,5.0,30,60,90,272,9.3,2.7,0,4.50,4.63,4.51,4.77,4.69,4.82,4.43,1.2,1,0,0

In [51]:
#Haré un DataFrame por cada uno de los filtros realizados posteriormente
Pr.to_excel("Private_room.xlsx", index=False)

In [52]:
Eha.to_excel("Entire_home-apt.xlsx", index=False)

In [53]:
Shr.to_excel("Shared_room.xlsx", index=False)

In [54]:
Hr.to_excel("Hotel_room.xlsx", index=False)